<script type="text/javascript">
    function confirmForm() {
        $('#statusChangeModal').modal();
    }

    function submitForm() {
        document.forms['test'].submit();
    }
</script>

<form id="test" action="#" onsubmit="submitForm()">
    Name: <input type="text" name="text" id="text" />
    <button type="button" onclick="confirmForm()">Submit</button>
</form>

<a class="btn btn-primary" data-toggle="modal" data-target="#statusChangeModal" href="#">Open Store</a>

<div id="statusChangeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Open Store</h4>
            </div>
            <div class="modal-body">
                <p>ARE YOU SURE YOU WANT TO SUBMIT THE FORM?</p>
                <a href="#" class="btn btn-default" onclick="submitForm()">Yes, Submit My Form!</a>
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
