{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-success">
        <center>
        <h1>Registration Successful!</h1>
        <h3>You may now <a href="/">Login</a>.</h3>
        <center>
    </div>
{% endblock %}
