{% for notification in notifications %}
    {% if notification['type'] == 'REJECTED' %}
        <div class="alert alert-danger">You have {{ notification['count'] }} rejected orders! <a href="/transaction-history">See Transaction History</a></div>
    {% endif %}

    {% if notification['type'] == 'DELIVERED' %}
        <div class="alert alert-success">{{ notification['count'] }} order sucessfully shipped! <a href="/shipments/view">View Shipped Orders</a></div>
    {% endif %}

    {% if notification['type'] == 'CHECKED-OUT' %}
        <div class="alert alert-warning">You have {{ notification['count'] }} pending product shipments! <a href="/mystore/view-pending">View Pending Orders</a></div>
    {% endif %}

    {% if notification['type'] == 'IN-CART' %}
        <div class="alert alert-warning">You have {{ notification['count'] }} reserved products in cart! <a href="/cart">View Cart</a></div>
    {% endif %}
{% endfor %}
